/* HadeSoft Color Pallete */
$chalk = #353535
$board = #1F1F1F
$clot = #993A2D
$warning = #E2544F
$sandBlast = #4177D5

/* Mixins */
BackgroundSize()
	-webkit-background-size arguments
	-moz-background-size arguments
	-o-background-size arguments
	background-size arguments

SelectCursor(style)
	cursor style
	-webkit-touch-callout none
	-webkit-user-select none
	-khtml-user-select none
	-moz-user-select none
	-ms-user-select none
	user-select none

SlightDepth(arg1 = 0, arg2 = 0)
	$rightShadow = 0
	if arg1 == 'right'
		$rightShadow = -2px

	box-shadow inset $rightShadow 4px 0px 0px rgba(0,0,0,0.4)
	-webkit-box-shadow inset $rightShadow 4px 0px 0px rgba(0,0,0,0.4)
	-moz-box-shadow inset $rightShadow 4px 0px 0px rgba(0,0,0,0.4)

	if arg1 == 'text' || arg2 == 'text'
		text-shadow 0px 4px 0px rgba(0,0,0,0.4)
		-webkit-text-shadow 0px 4px 0px rgba(0,0,0,0.4)
		-moz-text-shadow 0px 4px 0px rgba(0,0,0,0.4)
