/* CSS styling for profile pages /user/profile/$x */

/* Global */
#profile-title
    color white
    font-family 'Source Sans Pro'
    margin 0 auto
    text-align center
    width 400px
    SlightDepth text

.center-row
    margin-bottom 0

//profile Area
#profile-img
    background-color $clot
    float left
    height 200px
    margin 40px 10px 10px 0
    padding-left 40px
    SlightDepth right
    width 200px

#profile-img
    img
        height 200px
        max-width 200px

#profile-box
    float right
    width 740px

#profile-stats
    float left
    clear left

#profile-stats
    list-style none

#deep-info
    background-color $clot
    height 300px
    margin-top -5px
