extends layout

block content
	.titleArea
		#titleBox
			h1 THE WORKSHOP
	.projectArea
		#projectBox
			h2 OUR PROJECTS
			h4 Over ambition and inexperience
			.projectHolder
				a.project.smallThumb.orangeBackground(href='http://www.hadesbroadband.co.uk')
					.circle
						img(src='./images/hadesbroadband_Logo.png', alt='Hades Broadband')
				a.project.largeThumb.greenBackground(href='http://sams.hadesoft.io')
					.circle
						img(src='./images/sams_Logo.png', alt='SamS')
				a.project.smallThumb.redBackground(href='https://github.com/Snappey/HadesBot')
					.circle
						img(src='./images/hadesbot_Logo.png', alt='Hades Bot')
				a.project.largeThumb.blueBackground(href='https://www.hadesoft.io')
					.circle
						img(src='./images/hadesoft_Logo.png', alt='HadeSoft')
			.projectHolder
				.projectDesc
					section
						a(href='http://www.hadesbroadband.co.uk')
							h5.orangeUnderline Hades Broadband
							p Hades Broadband hub for news and Team Speak access.
				.projectDesc
					section
						a(href='http://sams.hadesoft.io')
							h5.greenUnderline SamS
							p Computing Project
				.projectDesc
					section
						a(href='https://github.com/Snappey/HadesBot')
							h5.redUnderline Hades Bot
							p Steam bot
				.projectDesc
					section
						a(href='http://www.hadesoft.io')
							h5.blueUnderline HadeSoft
							p Hades Broadband software and Website Development hub.
	.teamArea
		header
			.wrapTop
			.wrapSide.left
			img(src='./images/ourTeam.png')
			.wrapSide.right
		section.teamBox
			.members
				.member
					img(src='./images/mem1.png', alt='')
				.member
					img(src='./images/mem2.png', alt='')
				.member
					img(src='./images/mem3.png', alt='')
	-if (user)
		.forumArea
			header
				h2 Under Construction
			section.forumLocation
				a(href='/forum').note HOME
				a(href='/forum').note HOW COME I CAN ONLY SEE CARROTS
				a(href='/forum').note TOPIC
				a(href='/forum').note MAN INVISIBLE ALIENS ARE THE WORST
				a(href='/forum').note THREAD
			section.forumBox
				a(href='/forum/dev')
					h3 Development