doctype html(lang='en')
head
	meta(charset='UTF-8')
	title HadeSoft - Prototype
	link(rel='stylesheet', type='text/css', href='/stylesheets/reset.css')
	link(rel='stylesheet', type='text/css', href='/stylesheets/universal.css')
body
	header
		img(src='./images/hsoftLogo.png', alt='HadeSoft')
	.titleArea
		#titleBox
			h1 THE WORKSHOP
	.projectArea
		#projectBox
			h2 OUR PROJECTS
			h4 Over ambition and inexperience
			.projectHolder
				a.project.smallThumb.orangeBackground(href='http://www.hadesbroadband.co.uk')
					.circle
						img(src='./images/hadesbroadband_Logo.png', alt='Hades Broadband')
				a.project.largeThumb.greenBackground(href='http://sams.hadesoft.io')
					.circle
						img(src='./images/sams_Logo.png', alt='SamS')
				a.project.smallThumb.redBackground(href='https://github.com/Snappey/HadesBot')
					.circle
						img(src='./images/hadesbot_Logo.png', alt='Hades Bot')
				a.project.largeThumb.blueBackground(href='https://www.hadesoft.io')
					.circle
						img(src='./images/hadesoft_Logo.png', alt='HadeSoft')
			.projectHolder
				.projectDesc
					section
						a(href='http://www.hadesbroadband.co.uk')
							h5.orangeUnderline Hades Broadband
							p Hades Broadband hub for news and Team Speak access.
				.projectDesc
					section
						a(href='http://sams.hadesoft.io')
							h5.greenUnderline SamS
							p Computing Project
				.projectDesc
					section
						a(href='https://github.com/Snappey/HadesBot')
							h5.redUnderline Hades Bot
							p Steam bot
				.projectDesc
					section
						a(href='http://www.hadesoft.io')
							h5.blueUnderline HadeSoft
							p Hades Broadband software and Website Development hub.
	.teamArea
		header
			.wrapTop
			.wrapSide.left
			img(src='./images/ourTeam.png')
			.wrapSide.right
		section.teamBox
			.members
				.member
					img(src='./images/mem1.png', alt='')
				.member
					img(src='./images/mem2.png', alt='')
				.member
					img(src='./images/mem3.png', alt='')
	.futureArea
		h6 Coming Soon
	footer
		ul
			li HadeSoft is a Hades Broadband Division
			li Web Admin: vm@hadesoft.io
			li Last Updated: Time out of bounds of array
			li
				span.blink _