doctype html(lang='en')
head
    meta(charset='UTF-8')
    | &#x9;&#x9;
    title HadeSoft - Prototype
    | &#x9;&#x9;
    link(rel='stylesheet', type='text/css', href='./reset.css')
    | &#x9;&#x9;
    link(rel='stylesheet', type='text/css', href='./universal.css')
  | &#x9;
  body
    header
      img(src='./images/hsoftLogo.png', alt='HadeSoft')
    | &#x9;&#x9;
    .titleArea
      #titleBox
        h1 THE WORKSHOP
    | &#x9;&#x9;
    .projectArea
      #projectBox
        h2 OUR PROJECTS
        | &#x9;&#x9;&#x9;&#x9;
        h4
          i Over ambition and inexperience
        | &#x9;&#x9;&#x9;&#x9;
        .projectHolder
          a.project.smallThumb(href='http://www.hadesbroadband.co.uk')
            .circle
              img(src='./images/hadesbroadband_Logo.png', alt='Hades Broadband')
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          a.project.largeThumb(href='http://sams.hadesoft.io')
            .circle
              img(src='./images/sams_Logo.png', alt='SamS')
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          a.project.smallThumb(href='https://github.com/Snappey/HadesBot')
            .circle
              img(src='./images/hadesbot_Logo.png', alt='Hades Bot')
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          a.project.largeThumb(href='https://www.hadesoft.io')
            .circle
              img(src='./images/hadesoft_Logo.png', alt='HadeSoft')
        | &#x9;&#x9;&#x9;&#x9;
        .projectHolder
          .projectDesc
            section
              a(href='http://www.hadesbroadband.co.uk')
                h5.orangeUnderline
                  | Hades Broadband
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            p
              | Hades Broadband hub for news and Team Speak access.
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          .projectDesc
            section
              a(href='http://sams.hadesoft.io')
                h5.greenUnderline
                  | SamS
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            p
              | Computing Project
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          .projectDesc
            section
              a(href='https://github.com/Snappey/HadesBot')
                h5.redUnderline
                  | Hades Bot
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            p
              | Steam bot
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          .projectDesc
            section
              a(href='http://www.hadesoft.io')
                h5.blueUnderline
                  | HadeSoft
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            p
              | Hades Broadband software hub.
    | &#x9;&#x9;
    .teamArea
      header
        .wrapTop
        | &#x9;&#x9;&#x9;&#x9;
        .wrapSide.left
        | &#x9;&#x9;&#x9;&#x9;
        img(src='./images/ourTeam.png')
        | &#x9;&#x9;&#x9;&#x9;
        .wrapSide.right
      | &#x9;&#x9;&#x9;
      section.teamBox
        .members
          .member
            img(src='./images/mem1.png', alt='')
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          .member
            img(src='./images/mem2.png', alt='')
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          .member
            img(src='./images/mem3.png', alt='')
    | &#x9;&#x9;
    .futureArea
      h6 Coming Soon
    | &#x9;&#x9;
    footer
      ul
        li HadeSoft is a Hades Broadband Division
        | &#x9;&#x9;&#x9;&#x9;
        li Web Admin: vm@hadesoft.io
        | &#x9;&#x9;&#x9;&#x9;
        li Last Updated: Time out of bounds of array
        | &#x9;&#x9;&#x9;&#x9;
        li
          span.blink _