extends layout

block content
	.signupArea
		#signupBox
			form(action='/local-reg' method='post')
				h2 Sign Up
				label(for='usernameSU') Username:
				input(type='text' name='username' id='usernameSU')
				label(for='emailSU') Email:
				input(type='text' name='email' id='emailSU')
				label(for='passwordSU') Password:
				input(type='password' name='password' id='passwordSU')
				label(for='passwordSU') Confirm Password:
				input(type='password' name='password' id='passwordSU')
				input(type='submit' value='Submit')