extends layout

block content
	script(type='text/javascript' src='/javascripts/chips.js')
	.signupArea
		#signupBox
			form
				h2 SIGN UP
				h5#feedback Error
				label(for='usernameSU') Username:
				input(type='text' name='username' id='usernameSU')
				label(for='emailSU') Email:
				input(type='text' name='email' id='emailSU')
				label(for='passwordSU') Password:
				input.passSU(type='password' name='password' id='passwordSU')
				label(for='password2SU') Confirm Password:
				input.passSU(type='password' name='password2' id='password2SU')
				input#sendSignUp(type='submit' value='Submit')